%li.header__nav__item
  - if user_signed_in?
    = link_to "#{t('layout.menu.download')}", download_path, { class: 'button--download', title: "#{t('layout.menu.download')}", trackEvent: true, trackLabel: 'Menu', trackCategory: "#{EventTracking::DOWNLOAD_CLICKED}" }
  - else
    = link_to "#{t('layout.menu.download')}", '#sign-up', { class: 'js-toggle-dropdown button--download', title: "#{t('layout.menu.download')}", data: { id: 'sign-up', trackEvent: true, trackLabel: 'Menu', trackCategory: "#{EventTracking::SIGN_UP_CLICKED}" } }
%li.header__nav__item
  = link_to t('layout.menu.blog'), 'http://blog.omnipasteapp.com', target: '_blank'
%li.header__nav__item
  %a.js-goto-section{'data-id' => 'contact', :href => '#contact'} #{t('layout.menu.contact')}
