= render partial: 'menu'

%li.dropdown
  = link_to '#', class: 'dropdown-toggle dropdown', 'data-toggle' => 'dropdown' do
    Welcome #{@current_user.name}
    %b.caret

  %ul.dropdown-menu
    %li
      = link_to 'Downloads', downloads_path
    %li
      = link_to 'Whats my token?', token_path
    %li
      = link_to 'Sign out', destroy_user_session_path, :method => :delete