%h1.section__title--hero
  = @client_description.name
%h2
  = I18n.t('user.clients.selling_point')
  %br
  = I18n.t('user.clients.explain')
- @client_description.scopes.each do |scope|
  %h3
    = I18n.t("embedable_pages.client_scopes.#{scope.description}", default: scope.description)
%h2
  = I18n.t('user.clients.allow_question')
= form_for @client, url: user_clients_path do |form_builder|
  = form_builder.hidden_field :client_id
  .button.button--transparent.button--reset-weight
    = link_to I18n.t('user.clients.cancel'), '#', {onclick: 'window.close()'}
  = form_builder.submit I18n.t('user.clients.accept'), {class: 'button button--orange button--reset-weight'}
