.jumbotron
  .page-header
    %h1 Omnipaste suits everyone. Which plan suits you?

  %p
    You can have the basic application with Copy & Paste functionality for free.
    %br
    Why not to try for a month our
    %strong
      premium features?
    No credit card required. No contract.

  .row
    .col-xs-12.col-md-3
      .box.panel.panel-default
        .panel-heading
          .panel-title
            Goldfish (Free)
        .panel-body
          = link_to free_transfer_between_devices_path, class: 'btn btn-sm btn-omni' do
            .icon-google-plus
            Sign up now
          %p
          Copy & Paste
          %hr
          2 devices

    .col-xs-12.col-md-3
      .box.panel.panel-default
        .panel-heading
          .panel-title
            Trained Goldfish ($0.99/Mo)
        .panel-body
          = link_to 'Try for free', smart_actions_between_devices_path, class: 'btn btn-sm btn-omni'
          %p
          Copy & Paste
          %hr
          Unlimited devices
          %hr
          Smart actions
          = link_to 'javascript:return false;', class: 'popover-link', title: 'Smart actions', data: { content: render_smart_actions } do
            %i.icon.icon-question-sign
    .col-xs-12.col-md-3
      .box.panel.panel-default
        .panel-heading
          .panel-title
            Whale ($1.99/Mo)
            %span.label.label-success.bad
              recommended
        .panel-body
          = link_to 'Try for free', android_clipboard_history_path, class: 'btn btn-sm btn-omni'
          %p
          Copy & Paste
          %hr
          Unlimited devices
          %hr
          Smart Actions
          = link_to 'javascript:return false;', class: 'popover-link', title: 'Smart actions', data: { content: render_smart_actions } do
            %i.icon.icon-question-sign
          %hr
          Clippings History
          = link_to 'javascript:return false;', class: 'popover-link', title: 'Clippings History', data: { content: render_clippings_history } do
            %i.icon.icon-question-sign

    .col-xs-12.col-md-3
      .box.panel.panel-default
        .panel-heading
          .panel-title
            Shark ($2.99/Mo)
        .panel-body
          = link_to 'Try for free', android_file_transfer_path, class: 'btn btn-sm btn-omni'
          %p
          Copy & Paste
          %hr
          Unlimited devices
          %hr
          Smart Actions
          = link_to 'javascript:return false;', class: 'popover-link', title: 'Smart actions', data: { content: render_smart_actions } do
            %i.icon.icon-question-sign
          %hr
          Clippings History
          = link_to 'javascript:return false;', class: 'popover-link', title: 'Clippings History', data: { content: render_clippings_history } do
            %i.icon.icon-question-sign
          %hr
          File transfer
          = link_to 'javascript:return false;', class: 'popover-link', title: 'File transfer', data: { content: render_file_transfer} do
            %i.icon.icon-question-sign