%h2.section__title--hero
  = I18n.t('user.devices.title')
%h2
  = I18n.t('user.devices.explain')
= link_to android_client_downloads_path({email: current_user.email}), target: '_blank', class: 'button button-transparent' do
  = image_tag 'mailers/button-android.png', size: '277x60'
%h3
  = link_to I18n.t('user.devices.final_step'), session[:callback_url]