.section__button.section__button--feature
  - if user_signed_in?
    = link_to "#{t('layout.button.install')}",
              download_path,
              { class: 'button button--orange button--orange-feature button--download',
                title: 'Install Omnipaste',
                data: { trackEvent: true, trackLabel: "#{feature_name}", trackCategory: "#{EventTracking::DOWNLOAD}" } }
  - else
    = link_to "#{t('layout.button.install')}",
              '#sign-up',
              { class: 'button button--orange button--orange-feature js-toggle-dropdown button--download',
                title: 'Install Omnipaste',
                data: { id: 'sign-up', trackEvent: true, trackLabel: "#{feature_name}", trackCategory: "#{EventTracking::SIGN_UP}" } }

  = link_to "#{t('layout.button.what_else')}",
            "##{what_else_link}",
            { class: 'button button--transparent button--transparent-feature js-goto-section',
              title: 'Go to next feature',
              data: { id: what_else_link, trackEvent: true, trackLabel: "#{feature_name}", trackCategory: "#{EventTracking::WHAT_ELSE_IS_THERE}" } }
