%article#feature-notifications.section.section--bright.section--center-content.section--fit-viewport.feature.feature-three.js-nav-hash
  .section__container
    .container
      .row
        .section__column.col-xs-12.col-sm-6.col-sm-push-6
          .feature__content
            .feature__container
              = image_tag localize('svg/feature-three-bubble-notification'), { class: 'feature-three__bubble-notification js-animation-trigger', alt: 'Notification speech bubble', data: { animation: 'fadeIn', timeout: 500 } }
              = image_tag 'svg/feature-three-main.svg', { class: 'feature-three__main', alt: 'PC screen' }
              = image_tag 'svg/feature-three-notification.svg', { class: 'feature-three__notification js-animation-trigger', alt: 'PC notification', data: { animation: 'shake', timeout: 1300 } }
        .section__column.col-xs-12.col-sm-6.col-sm-pull-6
          %h1.section__title.feature__title #{t('layout.feature.notifications.title')}
          %p #{t('layout.feature.notifications.description')}
          = render partial: 'layouts/presentation/features/buttons', locals: { feature_name: 'feature-notifications', what_else_link: 'faq' }
