%article#feature-smart-action.section.section--bright.section--bright-grey.section--center-content.section--fit-viewport.feature.feature-two
  .section__container
    .container
      .row
        .section__column.col-xs-12.col-sm-6.col-sm-push-6
          .feature__content
            .feature__container
              = image_tag 'svg/feature-two-bubble-copy-address.svg', { class: 'feature-two__bubble-copy-address js-animation-trigger', alt: 'Copy address speech bubble', data: { animation: 'hatch', timeout: 500 } }
              = image_tag 'svg/feature-two-main.svg', { class: 'feature-two__main', alt: 'Map with phone overlayed on the right' }
              = image_tag 'svg/feature-two-bubble-copy-phone.svg', { class: 'feature-two__bubble-copy-phone js-animation-trigger', alt: 'Copy phone speech bubble', data: { animation: 'hatch', timeout: 1000 } }
              = image_tag 'svg/feature-two-notification.svg', { class: 'feature-two__notification js-animation-trigger', alt: 'Smartphone notification', data: { animation: 'slideDown', timeout: 1600 } }
        .section__column.col-xs-12.col-sm-6.col-sm-pull-6
          %h1.section__title.feature__title Smart Clippings
          %p
            Want to make a reservation and then meet a friend? Comfortably search for venue details on your large device (PC or tablet).
          %p
            %i.icon.icon__arrowhead--double-left
            Copy a phone number, go to your phone and tap call to begin dialing.
          %p
            %i.icon.icon__arrowhead--double-left
            Copy a street address, go to your phone and tap navigate to open your navigation and reach a place.
          = render partial: 'layouts/presentation/features/buttons', locals: { feature_name: 'feature-smart-action', what_else_link: 'feature-notifications' }