#team.container-fluid
  .container.dark
    %h1 Meet the team
    .row.thumbnails
      .span2.offset1
        .thumbnail
          = image_tag('pages/team/CalinoiuAlexandru.png')
          %h3 Calin
          .social
            = link_to image_tag('pages/linkedin.png'), 'http://ro.linkedin.com/pub/calinoiu-alexandru-nicolae/21/b0a/829', target: '_blank'
            = link_to image_tag('pages/twitter.png'), 'https://twitter.com/CalinBalauru', target: '_blank'
            = link_to image_tag('pages/facebook.png'), 'https://www.facebook.com/Balauria', target: '_blank'
      .span2
        .thumbnail
          = image_tag( 'pages/team/NistorAdrian.png')
          %h3 Adi
          .social
            = link_to image_tag('pages/linkedin.png'), 'http://ro.linkedin.com/pub/adrian-nistor/49/515/970', target: '_blank'
            = link_to image_tag('pages/facebook.png'), 'https://www.facebook.com/adrian.nistor.73', target: '_blank'
      .span2
        .thumbnail
          = image_tag( 'pages/team/CiprianStavar.png')
          %h3 Ciprian
          .social
            = link_to image_tag('pages/linkedin.png'), 'http://ro.linkedin.com/in/ciprianstavar', target: '_blank'
            = link_to image_tag('pages/twitter.png'), 'https://twitter.com/CiprianStavar', target: '_blank'
            = link_to image_tag('pages/facebook.png'), 'https://www.facebook.com/ciprian.stavar', target: '_blank'
      .span2
        .thumbnail
          = image_tag( 'pages/team/BadilaCristian.png')
          %h3 Cristi
          .social
            = link_to image_tag('pages/linkedin.png'), 'http://ro.linkedin.com/pub/cristian-badila/5a/125/630/', target: '_blank'
            = link_to image_tag('pages/facebook.png'), 'http://www.facebook.com/cristianbadila2', target: '_blank'
      .span2
        .thumbnail
          = image_tag( 'pages/team/DoruParvu.png')
          %h3 Doru
          .social
            = link_to image_tag('pages/twitter.png'), 'https://twitter.com/dorupirvu', target: '_blank'
            = link_to image_tag('pages/facebook.png'), 'http://www.facebook.com/doru.pirvu.7', target: '_blank'