= link_to "#", class: 'btn btn-large btn-success btn-purple', id: 'windows_download_redirect_link', :'data-redirect' => installation_url do
  = image_tag('clients/windows.jpg')
  Download Windows client
= link_to "#", "#{winomni_url}?token=#{current_user.token}", class: 'hidden', id: 'windows_download_link', target: '_blank'
%p
  %small
    One click to install the windows client customized for you.

%iframe#download_frame.hidden
