.jumbotron
  .page-header
    %h1 Meet the team

  .row.thumbnails
    .col-md-4
      .thumbnail
        = image_tag('pages/team/CalinoiuAlexandru.png')
        %h3 Calin
        %h5 co-founder/developer
        .social
          = link_to image_tag('pages/linkedin.png'), 'http://ro.linkedin.com/pub/calinoiu-alexandru-nicolae/21/b0a/829', target: '_blank'
          = link_to image_tag('pages/twitter.png'), 'https://twitter.com/CalinBalauru', target: '_blank'
          = link_to image_tag('pages/facebook.png'), 'https://www.facebook.com/Balauria', target: '_blank'
    .col-md-4
      .thumbnail
        = image_tag( 'pages/team/NistorAdrian.png')
        %h3 Adi
        %h5 co-founder/developer
        .social
          = link_to image_tag('pages/linkedin.png'), 'http://ro.linkedin.com/pub/adrian-nistor/49/515/970', target: '_blank'
          = link_to image_tag('pages/facebook.png'), 'https://www.facebook.com/adrian.nistor.73', target: '_blank'

    .col-md-4
      .thumbnail
        = image_tag( 'pages/team/CiprianStavar.png')
        %h3 Ciprian
        %h5 co-founder/marketing
        .social
          = link_to image_tag('pages/linkedin.png'), 'http://ro.linkedin.com/in/ciprianstavar', target: '_blank'
          = link_to image_tag('pages/twitter.png'), 'https://twitter.com/CiprianStavar', target: '_blank'
          = link_to image_tag('pages/facebook.png'), 'https://www.facebook.com/ciprian.stavar', target: '_blank'