.section__button.section__button--hero
  = link_to "#{t('layout.button.download')}",
          download_path,
          { class: 'button button--orange js-toggle-dropdown',
            title: "#{t('layout.button.download')}",
            data: { trackEvent: true, trackLabel: 'Welcome', trackCategory: "#{EventTracking::DOWNLOAD}" } }
.section__button.section__button--hero
  = link_to "#{t('layout.button.authorization_code')}",
            new_authorization_codes_path,
            { class: 'button button--transparent button--transparent-hero button--reset-weight button--left js-get-auth-code',
              title: "#{t('layout.button.authorization_code')}",
              data: { disable_with: 'Generating' } }

= content_for :header do
  .row
    .col-xs-12
      %a.animate.animate--swirll.section__close.js-toggle-dropdown{"data-id" => "sign-up", :href => "#close", :title => "Close dropdown"}
        %i.icon.icon__close
      %h1.section__title.section__title--hero #{t('layout.header.download.title')}
      %h2.section__subtitle.section__subtitle--hero
        #{t('layout.header.download.subtitle_1')}
        %br/
        #{t('layout.header.download.subtitle_2')}
        = link_to "#{t('layout.header.download.retry_link')}", download_path, { title: "#{t('layout.button.download')}" }
  .row.hidden-xs.hidden-sm
    .col-xs-12.col-md-4
      .download__step
        %i.download__icon.icon.icon__step-download
        %span.download__text
          #{t('layout.header.download.instructions_1')}
          %br
          #{t('layout.header.download.instructions_2')}
    .col-xs-12.col-md-4
      .download__step
        %i.download__icon.icon.icon__step-install
        %span.download__text #{t('layout.header.download.instructions_3')}
    .col-xs-12.col-md-4
      .download__step
        %i.download__icon.icon.icon__step-action
        %span.download__text #{t('layout.header.download.instructions_4')}
  .row
    .col-xs-12
      .section__button.section__button--hero
        = link_to '#feature-copy-paste', { class: 'button button--transparent js-goto-section', title: "#{t('layout.header.download.see_what_you_get_link')}",
                                           data: { id: 'feature-copy-paste', trackEvent: true, trackLabel: 'See what you get', trackCategory: "#{EventTracking::DOWNLOAD}" } } do
          #{t('layout.header.download.see_what_you_get_link')}
          %i.icon.icon__arrowhead-down
