.col-xs-12
  .section__button
    = link_to "#{t('layout.button.download')}",
              '#sign-up',
              { class: 'button button--orange js-toggle-dropdown',
                title: "#{t('layout.button.download')}",
                data: { id: 'sign-up', trackEvent: true, trackLabel: 'Welcome', trackCategory: "#{EventTracking::SIGN_UP}" } }
  = link_to "#{t('layout.button.authorization_code')}", new_authorization_codes_path, { title: "#{t('layout.button.authorization_code')}", data: { disable_with: 'Generating' } }

= content_for :header do
  .row
    .col-xs-12
      = link_to '#close', { class: 'animate animate--swirll section__close js-toggle-dropdown', title: 'Close dropdown', data: { id: 'sign-up' } } do
        %i.icon.icon__close
      %h1.section__title.section__title--hero #{t('layout.header.sign_up.title')}
      %h2.section__subtitle.section__subtitle--hero
        #{t('layout.header.sign_up.subtitle')}
        = link_to "#{t('layout.header.sign_up.security_policy')}", '#', { title: "#{t('layout.header.sign_up.security_policy')}" }
      .section__button.section__button--hero
        = link_to "#{t('layout.header.sign_up.google')}", download_path, { class: 'section__button button button--orange', title: "#{t('layout.header.sign_up.google')}" }
      .section__text
        %p #{t('layout.header.sign_up.explain')}
        %p
          #{t('layout.header.sign_up.alternative')}
          = link_to 'e-mail', '#', { title: "#{t('layout.header.sign_up.email')}" }
