%header.section__header
  %h1.section__title #{t('contacts.title')}
  %h2.section__subtitle #{t('contacts.subtitle')}
= form_for Contact.new, remote: true, method: :post, html: { class: 'form js-contact-form', novalidate: '', spellcheck: 'false' } do |f|
  .form__content.js-contact-form-content
    .row
      .col-xs-12.col-md-4.col-md-offset-2
        .form__item
          %label.form__label #{t('contacts.label_name')}
          = f.text_field :name, placeholder: 'Your name', class: 'form__input', pattern: '.{3,}[A-z]', required: ''
          %span.form__message.form__valid #{t('contacts.label_name_validation')}
        .form__item
          %label.form__label #{t('contacts.label_email')}
          = f.email_field :email, placeholder: 'Your e-mail', class: 'form__input', pattern: "[^@]+@[^@]+\\.[a-zA-Z]{2,6}", required: ''
          %span.form__message.form__valid #{t('contacts.label_email_validation')}
      .col-xs-12.col-md-4.align-left
        .form__item
          %label.form__label #{t('contacts.label_message')}
          = f.text_area :message, placeholder: 'Your message', class: 'form__textarea', pattern: '(.|\n){10,}', required: ''
          %span.form__message.form__valid #{t('contacts.label_message_validation')}
    .row
      .col-xs-12
        .form__footer
          %input{:name => "form_type", :type => "hidden", :value => "contact"}/
          %button.form__button.button.button--transparent.js-contact-submit{'data-unlock' => 'Unlock button first!', :type => 'submit'} #{t('contacts.button')}
  .form__notice.js-contact-notice #{t('contacts.flash')}
