%h2 Do you want to know when we will release?
%p
  Fill the form bellow, email is the only thing we need, we will only use it once to let you know when
  we release, no spam or any other nasty stuff.
.form-wrap
  = form_for contact do |f|
    .form-group
      = f.text_field :name, placeholder: 'Your name', class: 'form-control'
    .form-group
      = f.email_field :email, placeholder: 'Your email', class: 'form-control'
    .form-group
      = f.text_area :message, placeholder: 'Message...', class: 'form-control'
    = f.submit 'Subscribe', class: 'btn btn-info'
