%h1.section__title Google Calendars

%h3 Watched
%ul
  - @calendars.watched.each do |calendar|
    %li
      = form_for calendar, as: :calendar, url: watch_calendar_url(calendar), method: :put do |f|
        = calendar[:summary]
        = button_tag 'Unwatch', data: { disable_with: 'Please wait...' }

%h3 Not watched
%ul
  - @calendars.not_watched.each do |calendar|
    %li
      = form_for calendar, as: :calendar, url: watch_calendar_url(calendar), method: :put do |f|
        = calendar[:summary]
        = button_tag 'Watch', data: { disable_with: 'Please wait...' }