%article#faq.section.section--bright.section--center-content.section--fit-viewport.faq.js-nav-hash
  .section__container
    .container
      .row
        %header.section__header.col-xs-12
          %h1.section__title #{t('layout.menu.faq')}
          %h2.section__subtitle #{t('layout.faq.subtitle')}
      .row
        .section__column.col-xs-12.col-sm-6
          %h3.faq__title #{t('layout.faq.title_what')}
          %p.faq__content #{t('layout.faq.title_what_content')}
        .section__column.col-xs-12.col-sm-6
          %h3.faq__title #{t('layout.faq.title_will')}
          %p.faq__content #{t('layout.faq.title_will_content')}
      .row
        .section__column.col-xs-12.col-sm-6
          %h3.faq__title #{t('layout.faq.title_why')}
          %p.faq__content
            #{t('layout.faq.title_why_content', twitter: link_to('twitter', 'https://twitter.com/omnipaste', { title: 'Twitter', target: '_blank' }), facebook: link_to('facebook', 'https://www.facebook.com/Omnipaste', { title: 'Facebook', target: '_blank' }), support_forum: link_to('support forum', 'https://omnipasteapp.uservoice.com', { title: 'Support forum', target: '_blank' })).html_safe}
        .section__column.col-xs-12.col-sm-6
          %h3.faq__title #{t('layout.faq.title_is')}
          %p.faq__content #{t('layout.faq.title_is_content')}
      .section__button.section__button--page.align-center
        = link_to "#{t('layout.button.contact')}", '#contact', { class: 'button button--transparent button--dark js-goto-section', title: "#{t('layout.button.contact')}", data: { id: 'contact' } }
