#{t('notification_mailer.greeting')} #{@user.first_name || @user.last_name}!,
\
#{t('notification_mailer.survey.content_1')}
\
#{t('notification_mailer.survey.content_2')}
\
#{t('notification_mailer.survey.content_3')}: 'https://www.surveymonkey.com/s/Omnipaste'
\
