Howdy #{@user.first_name || @user.last_name},
\
#{t('notification_mailer.welcome.content_1')}
\
#{t('notification_mailer.welcome.content_2')}
\
= url_for(controller: :downloads, action: 'windows_client', only_path: false)
\
= @android_download_url
