%h1
  = I18n.t('embedable_pages.loading')

= javascript_include_tag :OmnipasteAPI
:javascript
  var apiDataStore = require('api/DataStore');
  apiDataStore.userAccessToken = '#{@client.token}';
  window.onload = function() {
    var OmnipasteAPI = require('OmnipasteAPI');
    new OmnipasteAPI().initialize({apiClientUrl: '#{@client.client_url}', omnipasteUrl: '#{WebOmni::Application.config.web_omni_url}'});
  };