%section#device-block.full-block.section.device-block.light-bg
  .slide
    .container
      .middle-wrap
        .middle-cell
          %header.title
            %h3 Please choose devices that you want to connect
          .device-wrap
            = image_tag 'click_to_select.png', alt: 'Click to select', id: 'device-help'
            %form{action: ""}
              %ul#device-list
                %li.device-laptop
                  %input#device-laptop{checked: 'checked', name: 'laptop', type: 'checkbox'}/
                  %label.inner{for: 'device-laptop'}
                    %span.device-graphic
                    %strong Laptop
                %li.device-phone
                  %input#device-phone{name: 'phone', type: 'checkbox'}/
                  %label.inner{for: 'device-phone'}
                    %span.device-graphic
                    %strong Phone
                %li.device-tablet
                  %input#device-tablet{name: 'tablet', type: 'checkbox'}/
                  %label.inner{for: 'device-tablet'}
                    %span.device-graphic
                    %strong Tablet
                %li.device-tv
                  %input#device-tv{name: 'tv', type: 'checkbox'}/
                  %label.inner{for: 'device-tv'}
                    %span.device-graphic
                    %strong TV
              .btn-wrap.center
                #device-disabled-wrap{'data-placement' => 'top', "data-toggle" => 'tooltip', title: 'Select two devices for a custom experience'}
                  %button#device-continue.btn.btn-info.toSlide{disabled: 'disabled', type: 'button'} Continue
  .slide.inside-slide#e-anim1{'data-anchor' => 'laptop-phone', 'style' => 'display: none'}
    .container
      = link_to 'Back', '#', class: 'slide-nav slide-back'
      = link_to 'Next Section', '#', class: 'slide-nav slide-down go-to'
      .row
        .col-md-12
          .anim-title
            %h2 Animation title
          .anim-wrap#anim-1-wrap
  .slide.inside-slide#e-anim2{'data-anchor' => 'laptop-tablet', 'style' => 'display: none'}
    .container
      = link_to 'Back', '#', class: 'slide-nav slide-back'
      = link_to 'Next Section', '#', class: 'slide-nav slide-next go-to'
      .row
        .col-md-12
          .anim-title
            %h2 Animation title
          .anim-wrap#anim-2-wrap
  .slide.inside-slide#e-anim3{'data-anchor' => 'phone-tablet', 'style' => 'display: none'}
    .container
      = link_to 'Back', '#', class: 'slide-nav slide-back'
      = link_to 'Next Section', '#', class: 'slide-nav slide-down go-to'
      .row
        .col-md-12
          .anim-title
            %h2 Animation title
          .anim-wrap#anim-3-wrap
  %script{:type => "text/x-handlebars-template", :id  => "anim-1"}
    = link_to 'Replay', '#', class: 'btn btn-white btn-replay-1'
    #Stage1.EDGE-88305247
    %script{:src => "/assets/smart_clipping/anim1/animation-1_edgePreload.js.erb"}

  %script{:type => "text/x-handlebars-template", :id  => "anim-2"}
    = link_to 'Replay', '#', class: 'btn btn-white btn-replay-2'
    #Stage2.EDGE-88305242
    %script{:src => "/assets/smart_clipping/anim2/animation-2_edgePreload.js.erb"}

  %script{:type => "text/x-handlebars-template", :id  => "anim-3"}
    = link_to 'Replay', '#', class: 'btn btn-white btn-replay-3'
    #Stage3.EDGE-88305243
    %script{:src  => "/assets/smart_clipping/anim3/animation-3_edgePreload.js.erb"}