%section#device-block.full-block.section.device-block.light-bg
  .slide
    .container
      .middle-wrap
        .middle-cell
          %header.title
            %h3 Please choose devices that you want to connect
          .device-wrap
            = image_tag 'click_to_select.png', alt: 'Click to select', id: 'device-help'
            %form{action: ""}
              #devices-wrapper
              .btn-wrap.center
                #device-disabled-wrap{'data-placement' => 'top', 'data-toggle' => 'tooltip', title: 'Select two devices for a custom experience'}
                  %button#device-continue.btn.btn-info.toSlide{disabled: 'disabled', type: 'button'} Continue
  .slide.inside-slide#e-anim1{'data-anchor' => 'laptop-phone', 'style' => 'display: none'}
    .container
      = link_to 'Back', '#', class: 'slide-nav slide-back slide-go-back'

      = link_to 'Next Section', '#', class: 'slide-nav slide-next toSlide go-to-event', data: { event: 'laptop-phone-event' }
      .row
        .col-md-12
          .anim-title
            %h2 Smart Clipping
          .anim-wrap#anim-1-wrap
  .slide.inside-slide#e-event1{'data-anchor' => 'laptop-phone-event', 'style' => 'display: none'}
    .container
      = link_to 'Back', '#', class: 'slide-nav slide-back toSlide go-to-event', data: { event: 'laptop-phone' }

      = link_to 'Next Section', '#', class: 'slide-nav slide-down go-to'
      .row
        .col-md-12
          .anim-title
            %h2 Events Forwarding
          .anim-wrap#event-1-wrap
  .slide.inside-slide#e-anim2{'data-anchor' => 'laptop-tablet', 'style' => 'display: none'}
    .container
      = link_to 'Back', '#', class: 'slide-nav slide-back slide-go-back'
      = link_to 'Next Section', '#', class: 'slide-nav slide-down go-to'
      .row
        .col-md-12
          .anim-title
            %h2 Smart Clipping
          .anim-wrap#anim-2-wrap
  .slide.inside-slide#e-anim3{'data-anchor' => 'phone-tablet', 'style' => 'display: none'}
    .container
      = link_to 'Back', '#', class: 'slide-nav slide-back slide-go-back'
      = link_to 'Next Section', '#', class: 'slide-nav slide-next toSlide go-to-event', data: { event: 'phone-tablet-event' }
      .row
        .col-md-12
          .anim-title
            %h2 Smart Clipping
          .anim-wrap#anim-3-wrap
  .slide.inside-slide#e-event2{'data-anchor' => 'phone-tablet-event', 'style' => 'display: none'}
    .container
      = link_to 'Back', '#', class: 'slide-nav slide-back toSlide go-to-event', data: { event: 'phone-tablet' }

      = link_to 'Next Section', '#', class: 'slide-nav slide-down go-to'
      .row
        .col-md-12
          .anim-title
            %h2 Events Forwarding
          .anim-wrap#event-2-wrap

  = render partial: 'layouts/templates/devices_template'

  %script{:type => "text/x-handlebars-template", :id  => "anim-1"}
    = link_to 'Replay', '#', class: 'btn btn-white btn-replay-1'
    #Stage1.EDGE-88305247
    %script{:src => asset_path('smart_clipping/anim1/animation-1_edgePreload.js')}

  %script{:type => "text/x-handlebars-template", :id  => "anim-2"}
    = link_to 'Replay', '#', class: 'btn btn-white btn-replay-2'
    #Stage2.EDGE-88305242
    %script{:src => asset_path('smart_clipping/anim2/animation-2_edgePreload.js')}

  %script{:type => "text/x-handlebars-template", :id  => "anim-3"}
    = link_to 'Replay', '#', class: 'btn btn-white btn-replay-3'
    #Stage3.EDGE-88305243
    %script{:src  => asset_path('smart_clipping/anim3/animation-3_edgePreload.js')}

  %script{:type => "text/x-handlebars-template", :id  => "anim-4"}
    = link_to 'Replay', '#', class: 'btn btn-white btn-replay-4'
    #Stage4.EDGE-628389270
    %script{:src  => asset_path('events/anim1/animation-1_edgePreload.js')}

  %script{:type => "text/x-handlebars-template", :id  => "anim-5"}
    = link_to 'Replay', '#', class: 'btn btn-white btn-replay-5'
    #Stage5.EDGE-628389271
    %script{:src  => asset_path('events/anim2/animation-2_edgePreload.js')}