.row
  .col-md-2
    %ul.nav.nav-stacked
      %li
        = link_to 'Plans', pricing_index_path
      %li
        = link_to 'Team', team_path
      %li
        = link_to 'Contact', contact_path

  .col-md-2
    %ul.nav.nav-stacked
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Partners', '#'
      %li
        = link_to 'Term of service', '#'
