.menu-overlay
  %nav
    %ul
      %li
        = link_to 'Home', '#home', data: {id: '#message-block'}
      %li
        = link_to 'Use cases', '#seemore', data: {id: '#device-block'}
      %li
        = link_to 'Download', '#feedback', data: {id: '#dual-block'}
      %li
        = link_to 'Leave your feedback', '#feedback', data: {id: '#dual-block'}
      %li
        = link_to 'Team', '#team', data: {id: '#about-block'}