.menu-overlay.on-mobile
  %nav
    %ul
      %li
        = link_to 'Install', '#seemore', data: {id: '#device-block'}
      %li
        = link_to 'Learn More', '#seemore', data: {id: '#device-block'}
      %li
        = link_to 'FAQ', '#feedback', data: {id: '#dual-block'}
      %li
        = link_to 'Security', '#feedback', data: {id: '#dual-block'}
      %li
        = link_to 'Team', '#team', data: {id: '#about-block'}