#team.container-fluid
  .container.dark
    %h1 Meet the team
    .row.thumbnails
      .span2.offset1
        .thumbnail
          = image_tag('CalinoiuAlexandru.png')
          %h3 Calin
          .social
            = link_to image_tag('linkedin.png'), 'http://ro.linkedin.com/pub/calinoiu-alexandru-nicolae/21/b0a/829'
            = link_to image_tag('twitter.png'), 'https://twitter.com/CalinBalauru'
            = link_to image_tag('facebook.png'), 'https://www.facebook.com/Balauria'
      .span2
        .thumbnail
          = image_tag( 'NistorAdrian.png')
          %h3 Adi
          .social
            = link_to image_tag('linkedin.png'), 'http://ro.linkedin.com/pub/adrian-nistor/49/515/970'
            = link_to image_tag('facebook.png'), 'https://www.facebook.com/adrian.nistor.73'
      .span2
        .thumbnail
          = image_tag( 'CiprianStavar.png')
          %h3 Ciprian
          .social
            = link_to image_tag('linkedin.png'), 'http://ro.linkedin.com/in/ciprianstavar'
            = link_to image_tag('twitter.png'), 'https://twitter.com/CiprianStavar'
            = link_to image_tag('facebook.png'), 'https://www.facebook.com/ciprian.stavar'
      .span2
        .thumbnail
          = image_tag( 'BadilaCristian.png')
          %h3 Cristi
          .social
            = link_to image_tag('linkedin.png'), 'http://ro.linkedin.com/pub/cristian-badila/5a/125/630/'
            = link_to image_tag('facebook.png'), 'http://www.facebook.com/cristianbadila2'
      .span2
        .thumbnail
          = image_tag( 'DoruParvu.png')
          %h3 Doru
          .social
            = link_to image_tag('twitter.png'), 'https://twitter.com/dorupirvu'
            = link_to image_tag('facebook.png'), 'http://www.facebook.com/doru.pirvu.7'