!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "../../assets/ico/favicon.png", rel: "shortcut icon"}/
    %title= content_for?(:title) ? yield(:title) : 'Omnipaste - Your Clipboard Manager in the cloud'
    = favicon_link_tag
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = csrf_meta_tag
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    = render partial: 'layouts/google'
  %body
    = render partial: 'layouts/facebook'
    = render partial: 'layouts/twitter'

    .container
      = render partial: 'layouts/header'
      = yield
      .footer
        = render partial: 'layouts/footer'

  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = render partial: 'layouts/olark'
  = humane_flash_messages.html_safe
