!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "../../assets/ico/favicon.png", rel: "shortcut icon"}/
    %title= content_for?(:title) ? yield(:title) : "Omnipaste - Your Clipboard Manager in the cloud"
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = csrf_meta_tag
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    = render partial: 'layouts/google'
  %body
    #wrap
      .container
        .header.card
          = render partial: 'layouts/header'
        .jumbotron.card
          = yield
        .footer.card
          %p
          © 2013 Omnipaste
          %br
          Android&trade; is a trademark of Google Inc
          %br
          Windows&trade; is a trademark of Microsoft Corporation in the United States and other countries

  = humane_flash_messages.html_safe
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = render partial: 'layouts/olark'
