!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Omnipaste - Your Clipboard Manager in the cloud"
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = csrf_meta_tag
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Raleway:200", :rel => "stylesheet", :type => "text/css"}/
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="favicon.ico" rel="shortcut icon")

    / IE Fix for HTML5 Tags
    /[if lt IE 9]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

    = render partial: 'layouts/google'
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to root_path, class: 'brand scroller' do
            = image_tag('logo-omnipaste.png')
          .nav-collapse.collapse
            %ul.nav.pull-right
              = render_cell :menu, :show, user: current_user

    = bootstrap_flash

    .main-container
      #intro.container-fluid
        .container
          .row.span12.center
            = yield

  = render partial: 'pages/about'

  = render partial: 'pages/team'

  = render partial: 'pages/contact'

  %footer
    .row.span12.center
      %p Omnipaste © 2013
      %p DISCLAIMER: Android™ is a trademark of Google Inc. Windows™ is a registered trademark of Microsoft Corporation in the United States and other countries.

  = javascript_include_tag 'application', 'data-turbolinks-track' => true

  :javascript
    $(function () {
        $(window).scroll(function() {
        // global scroll to top button
            if ($(this).scrollTop() > 300) {
                $('.scrolltop').fadeIn();
            } else {
                $('.scrolltop').fadeOut();
            }
        });

        // scroll nav
        $('.scroller').click(function() {
          var link = $(this);
          var section = $(link.data("section"));
          var top = section.offset().top-82;
          $("html, body").animate({ scrollTop: top }, 700);

          window.location.hash = link.attr('href');

          return false;
        });
    });