!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "../../assets/favicon.ico", rel: "shortcut icon"}/
    %title= content_for?(:title) ? yield(:title) : 'Omnipaste - Take control of your multi-screen world'
    = favicon_link_tag
    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = csrf_meta_tag
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    = render partial: 'layouts/google'
  %body
    .container
      = render partial: 'layouts/header'
      .jumbotron
        = yield

  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = humane_flash_messages.html_safe
