!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "../../assets/ico/favicon.png", rel: "shortcut icon"}/
    %title= content_for?(:title) ? yield(:title) : "Omnipaste - Your Clipboard Manager in the cloud"
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = csrf_meta_tag
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
  %body
    #wrap
      .container
        .header
          %ul.nav.nav-pills.pull-right
            = render_cell :menu, :show, user: current_user
          = link_to root_path, class: 'brand scroller' do
            = image_tag('logo-omnipaste.png')
        .jumbotron
          %h1 Jumbotron heading
          %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
          %p
            %a.btn.btn-lg.btn-success{href: "#"} Sign up today
    #footer
      .container
        %p © Company 2013
    / /container
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster

  = humane_flash_messages.html_safe