!!!
%html{lang: "en"}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    %meta{content: 'Take control of your multiscreen world', name: 'description'}/
    %meta{content: 'Agile Freaks', name: 'author'}/
    %title= content_for?(:title) ? yield(:title) : 'Omnipaste - Take control of your multi-screen world'
    = favicon_link_tag
    = stylesheet_link_tag 'presentation', :media => 'all'
    = javascript_include_tag :modernizr
    = csrf_meta_tag
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    = render partial: 'layouts/google' if Rails.env.production?
    = render partial: 'layouts/facebook' if Rails.env.production?
    = render partial: 'layouts/facebook_download' if Rails.env.production? && download?
    = render partial: 'layouts/mixpanel'

  %body#home.body.js-body-action
    %header.header.omni-video__overlay
      = render partial: 'layouts/presentation/header'

      .section.hero
        #omni-video.omni-video.js-omni-video
          .omni-video__content
            %a.animate.animate--swirll.omni-video__close.js-omni-video-toggle{"data-action" => "pause", "data-id" => "omni-video", :href => "#omni-video", :title => "#{t('layout.video.close')}"}
              %i.icon.icon__close
            %video.omni-video__player.js-omni-video-player{:preload => ''}
              %source{:src => 'https://omnipaste.blob.core.windows.net/assets/omnipaste.mp4', :type => "video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\""}
              %source{:src => 'https://omnipaste.blob.core.windows.net/assets/omnipaste.webm', :type => "video/webm; codecs=\"vp8, vorbis\""}
              %source{:src => 'https://omnipaste.blob.core.windows.net/assets/omnipaste.ogv', :type => "video/ogg; codecs=\"theora, vorbis\""}
            %input.omni-video__seek.js-omni-video-seek{:type => 'range', :value => '0'}

        .header__meta.section__container.js-header-nav-content
          .header__container
            .container
              .row
                .col-xs-3.col-md-3
                  .header__logo
                    = link_to root_path, { title: 'Omnipaste', data: { id: 'home' } } do
                      = image_tag 'logo.svg', { alt: "#{t('layout.logo_alt')}", height: '40', width: '175' }
                .col-md-7.col-md-offset-2.col-lg-7.col-lg-offset-2
                  %nav#header-nav.header__nav
                    = link_to '#mobile-menu', { class: 'header__nav__button visible-xs-block js-mobile-menu-toggle', data: { id: 'header-nav', title: "#{t('layout.menu.mobile_title')}" } } do
                      %i.icon.icon__hamburger
                    = render_cell :menu, :show, is_mobile_device?: is_mobile_device?

        %article#home.section__container.section--fit-viewport.hero__main-content.js-hero.js-nav-hash
          .container
            .row
              .col-xs-12.visible-xs
                %h1.section__title.section__title--hero.section__hero--spacer-top
                  = simple_format(t('layout.hero.title'), {}, { wrapper_tag: 'div' })
              .col-xs-12.col-sm-6.col-md-5.hidden-xs
                %h1.section__title.section__title--hero.section__hero--spacer-top
                  = simple_format(t('layout.hero.title'), {}, { wrapper_tag: 'div' })
                %h2.section__subtitle.section__subtitle--hero.section__hero--spacer-bottom
                  = simple_format(t('layout.hero.subtitle'), {}, { wrapper_tag: 'div' })
                = yield
              .col-xs-12.col-sm-6.col-md-7
                .hero-animation
                  .hero-animation__container
                    .hero-animation__play
                      = link_to '#omni-video', { class: 'button button--text-hero button--text-hero--center button--reset-weight js-omni-video-toggle hero-', title: "#{t('layout.video.play')}", data: { id: 'omni-video', action: 'play', trackEvent: true } } do
                        %span.block
                          %i.icon.icon__play
                        %span.block.icon--text
                          #{t('layout.video.span')}
                    = image_tag 'svg/hero-main-empty.svg', { class: 'hero-animation__main', alt: 'Laptop with phone on the right' }
                    / Phone Notifications
                    = image_tag 'svg/hero-call-white.svg', { class: 'hero-animation__notification hero-animation__notification--small hero-animation__notification--phone-call js-animation-on-start-trigger', alt: 'Incoming call notification', data: { animation: 'slideInTopFadeOut', timeout: 1000, } }
                    = image_tag 'svg/hero-sms-white.svg', { class: 'hero-animation__notification hero-animation__notification--small hero-animation__notification--phone-sms js-animation-on-start-trigger', alt: 'Incoming sms notification', data: { animation: 'slideInTopFadeOut', timeout: 3000, } }
                    = image_tag 'svg/hero-clipping-white.svg', { class: 'hero-animation__notification hero-animation__notification--small hero-animation__notification--phone-clipping js-animation-on-start-trigger', alt: 'New clipping notification', data: { animation: 'slideInTopFadeOut', timeout: 5500, } }
                    / Desktop Notifications
                    = image_tag 'svg/hero-call-white.svg', { class: 'hero-animation__notification hero-animation__notification--desktop-call js-animation-on-start-trigger', alt: 'Incoming call notification', data: { animation: 'slideInRightFadeOut', timeout: 2100, } }
                    = image_tag 'svg/hero-sms-white.svg', { class: 'hero-animation__notification hero-animation__notification--desktop-sms js-animation-on-start-trigger', alt: 'Incoming sms notification', data: { animation: 'slideInRightFadeOut', timeout: 4200, } }
                    = image_tag 'svg/hero-clipping-white.svg', { class: 'hero-animation__notification hero-animation__notification--desktop-clipping js-animation-on-start-trigger', alt: 'New clipping notification', data: { animation: 'slideInRightFadeOut', timeout: 6500, } }
                    / Phone Transparent Notifications
                    = image_tag 'svg/hero-call-transparent.svg', { class: 'hero-animation__notification hero-animation__notification--small hero-animation__notification--transparent hero-animation__notification--phone-call js-animation-on-start-trigger', alt: 'Incoming call notification', data: { animation: 'smoothIn', timeout: 3100, } }
                    = image_tag 'svg/hero-sms-transparent.svg', { class: 'hero-animation__notification hero-animation__notification--small hero-animation__notification--transparent hero-animation__notification--phone-sms js-animation-on-start-trigger', alt: 'Incoming sms notification', data: { animation: 'smoothIn', timeout: 5200, } }
                    = image_tag 'svg/hero-clipping-transparent.svg', { class: 'hero-animation__notification hero-animation__notification--small hero-animation__notification--transparent hero-animation__notification--phone-clipping js-animation-on-start-trigger', alt: 'New clipping notification', data: { animation: 'smoothIn', timeout: 7800, } }
                    / Final Animations
                    = image_tag 'svg/hero-call-white.svg', { class: 'hero-animation__notification hero-animation__notification--small hero-animation__notification--phone-call js-animation-on-start-trigger', alt: 'Incoming call notification', data: { animation: 'smoothIn', timeout: 8500, } }
                    = image_tag 'svg/hero-connect.svg', { class: 'hero-animation__connect js-animation-on-start-trigger', alt: 'Connector element', data: { animation: 'connect', timeout: 8700, } }
                    = image_tag 'svg/hero-call-white.svg', { class: 'hero-animation__notification hero-animation__notification--desktop-call js-animation-on-start-trigger', alt: 'Incoming call notification', data: { animation: 'smoothIn', timeout: 8900, } }
                    .section__hero-notice.hidden-xs
                      = t('layout.hero.subtitle_requirements')
              .col-xs-12.visible-xs
                %h2.section__subtitle.section__subtitle--hero.section__hero--spacer-bottom
                  = t('layout.hero.subtitle')
                = yield

    %main#main.main
      .section__button.section__button--discover.section__button--center
        %a.button.button--text-hero.button--reset-weight.js-goto-section{'data-id' => 'feature-copy-paste', :href => '#feature-copy-paste', :title => t('layout.button.learn_more')}
          %span.block #{t('layout.button.learn_more')}
          %span.block
            %i.icon.icon__arrowhead--down.animate.animate--arrow-one
            %i.icon.icon__arrowhead--down.animate.animate--arrow-two

      = render partial: 'layouts/presentation/features/copy_paste'

      = render partial: 'layouts/presentation/features/smart_action'

      = render partial: 'layouts/presentation/features/notifications'

      = render partial: 'layouts/presentation/social'

      = render partial: 'layouts/presentation/faq'

      %article#partners.section.partners.section--center.section--center-content.js-nav-hash
        .section__container
          .container
            .row
              .section__header.col-xs-12
                %p #{t('layout.partners.title')}
            .row
              .partners__logos.col-xs-12
                = link_to 'http://www.softlayer.com/catalyst', rel: 'external', title: 'Softlayer' do
                  %img.partners__softlayer{:alt => 'Softlayer Logo', :src => image_path('logos/logo-softlayer.png'), :srcset => "#{image_path('logos/logo-softlayer@2x.png')} 2x", :width => '164', :height => '27' }
                = link_to 'http://www.lisbon-challenge.com/', rel: 'external', title: 'Lisbon Challenge' do
                  %img.partners__lisbon-challenge{:alt => 'Lisbon Challenge Logo', :src => image_path('logos/logo-lisbon-challenge.png'), :srcset => "#{image_path('logos/logo-lisbon-challenge@2x.png')} 2x", :width => '92', :height => '51' }
                = link_to 'http://www.agilefreaks.com/', rel: 'external', title: 'Agile Freaks' do
                  %img.partners__agile-freaks{:alt => 'Agile Freaks Logo', :src => image_path('logos/logo-agile-freaks.png'), :srcset => "#{image_path('logos/logo-agile-freaks@2x.png')} 2x", :width => '179', :height => '49' }
                = link_to 'https://www.hubraum.com/locations/krakow', rel: 'external', title: 'HubRaum' do
                  %img.partners__hub-raum{:alt => 'Hub Raum Logo', :src => image_path('logos/logo-hub-raum.png'), :srcset => "#{image_path('logos/logo-hub-raum@2x.png')} 2x", :width => '175', :height => '70' }
                %a{:href => 'http://soapconf.com/', :rel => 'external', :title => 'Soap'}
                  %img.partners__soap{:alt => 'Soap Logo', :height => '60', :src => image_path('logos/logo-soap.png'), :srcset => "#{image_path('logos/logo-soap@2x.png')} 2x", :width => '80' }

      %article#contact.section.section--center.contact.js-nav-hash
        .section__container
          .container
            .row
              .col-xs-12
                = render partial: 'contacts/create'

      = render partial: 'layouts/presentation/founders'

    %footer.footer
      .container
        %ul.footer__nav.list-to-nav.list-to-nav--horizontal
          %li.footer__nav__item
            = link_to t('layout.button.learn_more'), '#learn-more', { class: 'js-goto-section', title: "#{t('layout.button.learn_more')}", data: { id: 'feature-copy-paste' } }
          %li.footer__nav__item
            = link_to t('layout.menu.faq'), '#faq', { class: 'js-goto-section', title: "#{t('layout.menu.faq')}", data: { id: 'faq' } }
          %li.footer__nav__item
            = link_to "#{t('layout.footer.tos')}", tos_path, title: "#{t('layout.footer.tos')}"
        %p.footer__copyright
          \© 2014 Omnipaste.
          %br/
          #{t('layout.footer.android_tm')}
          %br/
          #{t('layout.footer.windows_tm')}
        %a{:href => 'https://mixpanel.com/f/partner'}
          %img{:alt => 'Mobile Analytics', :src => '//cdn.mxpnl.com/site_media/images/partner/badge_light.png'}

  = javascript_include_tag 'presentation'

  = humane_flash_messages.html_safe

  = render partial: 'layouts/user_voice'

  :javascript
    var $buoop = {};
    $buoop.ol = window.onload;
    window.onload=function () {
      try {if ($buoop.ol) $buoop.ol();}catch (e) {}
      var e = document.createElement("script");
      e.setAttribute("type", "text/javascript");
      e.setAttribute("src", "//browser-update.org/update.js");
      document.body.appendChild(e);
    }

  :javascript
    $(document).ready( function() {
      urlParam = function(name) {
          var results = new RegExp('[\\?&amp;]' + name + '=([^&amp;#]*)').exec(window.location.href);
          return results ? results[1] || 0 : 0;
      };

      if (urlParam('download')) {
        if (#{user_signed_in? ? 'true' : 0}) {
          var destination = "#{windows_client_downloads_path}";
          setTimeout("window.location='" + destination + "'", 3000);
        }

        var dropdownActiveClass	= 'dropdown--open';
        var dropdownBodyClass = 'dropdown--action';

        $('#sign-up').toggleClass(dropdownActiveClass);
        $('.js-body-action').toggleClass(dropdownBodyClass);

        // Scroll to top
        omnipaste.scrollToTop();
      }
    } );
