!!!
%html{lang: "en"}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    %meta{content: 'Take control of your multiscreen world', name: 'description'}/
    %meta{content: 'Agile Freaks', name: 'author'}/
    %title= content_for?(:title) ? yield(:title) : 'Omnipaste - Take control of your multi-screen world'
    = favicon_link_tag
    = stylesheet_link_tag 'presentation', :media => 'all'
    = javascript_include_tag :modernizr
    = csrf_meta_tag
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    = render partial: 'layouts/google'

  %body#home.body.js-body-action.omni-video__overlay
    %header.header
      = render partial: 'layouts/presentation/header'

      .section.hero.section--center
        #omni-video.omni-video.js-omni-video
          .omni-video__content
            %a.animate.animate--swirll.omni-video__close.js-omni-video-toggle{"data-action" => "pause", "data-id" => "omni-video", :href => "#omni-video", :title => "Close video"}
              %i.icon.icon__close
            %video.omni-video__player.js-omni-video-player
              %source{:src => asset_path('omnipaste.mp4', type: :media), :type => "video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\""}
                %source{:src => asset_path('omnipaste.webm', type: :media), :type => "video/webm; codecs=\"vp8, vorbis\""}
                  %source{:src => asset_path('assets/media/omnipaste.ogv', type: :media), :type => "video/ogg; codecs=\"theora, vorbis\""}
            %input.omni-video__seek.js-omni-video-seek{:type => 'range', :value => '0'}

        .header__meta.section__container.js-header-nav-content
          .header__container
            .container
              .row
                .col-xs-3.col-md-3
                  .header__logo
                    = link_to root_path, { title: 'Omnipaste', data: { id: 'home' } } do
                      = image_tag 'logo.png', { alt: 'Omnipaste Logo', height: '40', width: '175', :srcset => image_path('logo.svg 2x') }
                .col-md-7.col-md-offset-2.col-lg-7.col-lg-offset-2.hidden-xs
                  %nav.header__nav
                    = render_cell :menu, :show

        %article.section__container.section--center-content.section--fit-viewport.hero__main-content.js-hero
          .container
            .row
              .col-xs-12
                %h1.section__title.section__title--hero Link your devices
                %h2.section__subtitle.section__subtitle--hero
                  Make it simple & quick to switch between your computer and your mobile
                  %br/
                  devices. Get Omnipaste and redefine your multidevice experience.
                .section__play
                  = link_to '#omni-video', { class: 'button button--play js-omni-video-toggle', title: 'Play video', data: { id: 'omni-video', action: 'play' } } do
                    %i.icon.icon__play
                  %span See the video
            .row
              = yield
            .row
              .col-xs-12
                .section__button.section__button--hero
                  %a.button.button--text.js-goto-section{"data-id" => "faq", :href => "#faq", :title => "Learn more"}
                    Learn more
                    %i.icon.icon__arrowhead--double-down

    %main#main.main
      = render partial: 'layouts/presentation/faq'

      %article#partners.section.partners
        .section__container
          .container
            .row
              .col-xs-12
                %p.align-center Companies we partner with
            .row
              .partners__logos.col-xs-12.col-sm-6.col-md-3
                %img{:alt => 'Softlayer Logo', :height => '70', :src => image_path('logos/logo-softlayer.png'), :width => '170'}
              .partners__logos.col-xs-12.col-sm-6.col-md-2
                %img{:alt => 'Lisbon Challenge Logo', :height => '70', :src => image_path('logos/logo-lisbon-challenge.png'), :width => '105'}
              .partners__logos.col-xs-12.col-sm-6.col-md-4
                %img{:alt => 'Agile Freaks Logo', :height => '70', :src => image_path('logos/logo-agile-freaks.png'), :width => '240'}
              .partners__logos.col-xs-12.col-sm-6.col-md-3
                %img{:alt => 'Hub Raum Logo', :height => '70', :src => image_path('logos/logo-hub-raum.png'), :width => '175'}

      %article#contact.section.section--center.section--center-content.contact
        .section__container
          .container
            .row
              .col-xs-12
                = render partial: 'contacts/create'
            .row
              .col-xs-12
                %ul.social.list-to-nav.list-to-nav--horizontal
                  %li.social__item
                    = link_to 'https://www.linkedin.com/company/omnipaste', { title: 'LinkedIn', target: '_blank' } do
                      %i.icon.icon__linkedin
                  %li.social__item
                    = link_to 'https://www.facebook.com/Omnipaste', { title: 'Facebook', target: '_blank' } do
                      %i.icon.icon__facebook
                  %li.social__item
                    = link_to 'https://plus.google.com/b/109174370304988591538/109174370304988591538/about/p/pub?hl=en&service=PLUS', { title: 'Google+', target: '_blank' } do
                      %i.icon.icon__googleplus
                  %li.social__item
                    = link_to 'https://twitter.com/omnipaste', { title: 'Twitter', target: '_blank' } do
                      %i.icon.icon__twitter

      = render partial: 'layouts/presentation/founders'

    %footer.footer
      .container
        %ul.footer__nav.list-to-nav.list-to-nav--horizontal
          %li.footer__nav__item
            %a.js-goto-section{"data-id" => "faq", :href => "#learn-more", :title => "How it works"} Learn More
          %li.footer__nav__item
            %a.js-goto-section{"data-id" => "faq", :href => "#faq", :title => "FAQ"} FAQ
          %li.footer__nav__item
            %a.js-toggle-dropdown{"data-id" => "policy", :href => "#privacy", :title => "Privacy Policy"} Privacy Policy
        %p.footer__copyright
          \© 2014 Omnipaste.
          %br/
          Android™ is a trademark of Google Inc.
          %br/
          Windows™ is a trademark of Microsoft Corporation in the United States and other countries.

  = javascript_include_tag 'browser.update'
  = javascript_include_tag 'presentation'

  = humane_flash_messages.html_safe

  :javascript
    $(document).ready( function() {
      urlParam = function(name) {
          var results = new RegExp('[\\?&amp;]' + name + '=([^&amp;#]*)').exec(window.location.href);
          return results ? results[1] || 0 : 0;
      };

      if (urlParam('download')) {
        var destination = "#{windows_client_downloads_path}";
        setTimeout("window.location='" + destination + "'", 3000);

        var bodyTrigger = $('.js-body-action');
        var bodyClass = "dropdown--action";
        var dropdownActive = "dropdown--open";
        var dropdownID = "sign-up";

        $('#' + dropdownID).toggleClass(dropdownActive);
        $(bodyTrigger).toggleClass(bodyClass);

        scrollToTop(750);
      }
    } );
