!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %link{href: "../../assets/favicon.ico", rel: "shortcut icon"}/
    %title= content_for?(:title) ? yield(:title) : 'Omnipaste - Take control of your multi-screen world'
    = favicon_link_tag
    = stylesheet_link_tag 'presentation', :media => 'all'
    = javascript_include_tag :modernizr
    = csrf_meta_tag
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    = render partial: 'layouts/google'
  %body
    = render partial: 'layouts/header'

    .wrapper
      .main#fullpage
        = render partial: 'layouts/home'
        = render partial: 'layouts/devices'
        = render partial: 'layouts/feedback'
        = render partial: 'layouts/team'

  -# adds this 2 files here and not in the manifest so that they can be cached by the browser
  = javascript_include_tag 'jquery-2.1.1.min.js'
  -# load the manifest file
  = javascript_include_tag 'presentation'
  = humane_flash_messages.html_safe
