!!!
%html{lang: "en"}
  %head
    %meta{charset: 'utf-8'}/
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    %meta{content: 'Take control of your multiscreen world', name: 'description'}/
    %meta{content: 'Agile Freaks', name: 'author'}/
    %title= content_for?(:title) ? yield(:title) : 'Omnipaste - Take control of your multi-screen world'
    = favicon_link_tag
    = stylesheet_link_tag 'presentation', :media => 'all'
    = javascript_include_tag :modernizr
    = csrf_meta_tag
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
    = render partial: 'layouts/google' if Rails.env.production?

  %body#home.body.js-body-action
    %header.header.omni-video__overlay
      = render partial: 'layouts/presentation/header'

      .section.hero.section--center
        #omni-video.omni-video.js-omni-video
          .omni-video__content
            %a.animate.animate--swirll.omni-video__close.js-omni-video-toggle{"data-action" => "pause", "data-id" => "omni-video", :href => "#omni-video", :title => "#{t('layout.video.close')}"}
              %i.icon.icon__close
            %video.omni-video__player.js-omni-video-player{:preload => ''}
              %source{:src => 'https://omnipaste.blob.core.windows.net/assets/omnipaste.mp4', :type => "video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\""}
              %source{:src => 'https://omnipaste.blob.core.windows.net/assets/omnipaste.webm', :type => "video/webm; codecs=\"vp8, vorbis\""}
              %source{:src => 'https://omnipaste.blob.core.windows.net/assets/omnipaste.ogv', :type => "video/ogg; codecs=\"theora, vorbis\""}
            %input.omni-video__seek.js-omni-video-seek{:type => 'range', :value => '0'}

        .header__meta.section__container.js-header-nav-content
          .header__container
            .container
              .row
                .col-xs-3.col-md-3
                  .header__logo
                    = link_to root_path, { title: 'Omnipaste', data: { id: 'home' } } do
                      = image_tag 'logo.svg', { alt: "#{t('layout.logo_alt')}", height: '40', width: '175' }
                .col-md-7.col-md-offset-2.col-lg-7.col-lg-offset-2
                  %nav#header-nav.header__nav
                    = link_to '#mobile-menu', { class: 'header__nav__button visible-xs-block js-mobile-menu-toggle', data: { id: 'header-nav', title: "#{t('layout.menu.mobile_title')}" } } do
                      %i.icon.icon__hamburger
                    = render_cell :menu, :show, is_mobile_device?: is_mobile_device?

        %article.section__container.section--center-content.section--fit-viewport.hero__main-content.js-hero
          .container
            .row
              .col-xs-12
                %h1.section__title.section__title--hero #{t('layout.hero.title')}
                %h2.section__subtitle.section__subtitle--hero
                  = simple_format(t('layout.hero.subtitle'), {}, { wrapper_tag: 'div' })
                .section__play
                  = link_to '#omni-video', { class: 'button button--play js-omni-video-toggle',
                                             title: "#{t('layout.video.play')}",
                                             data: { id: 'omni-video', action: 'play', trackEvent: true } } do
                    %i.icon.icon__play
                  %span #{t('layout.video.span')}
            .row
              = yield
            .row
              .col-xs-12
                .section__small-text
                  %p
                    #{t('layout.hero.subtitle_requierments')}
                    = link_to "#{t('layout.hero.subtitle_requierments_link')}", '#faq', class: 'js-goto-section'
            .row
              .col-xs-12
                .section__button.section__button--hero
                  = link_to '#feature-copy-paste', { class: 'button button--text js-goto-section', title: "#{t('layout.button.learn_more')}", data: { id: 'feature-copy-paste', trackEvent: true, trackLabel: 'LearnMore' } } do
                    #{t('layout.button.learn_more')}
                    %i.icon.icon__arrowhead--down.animate.animate--arrow-one
                    %i.icon.icon__arrowhead--down.animate.animate--arrow-two

    %main#main.main
      = render partial: 'layouts/presentation/features/copy_paste'

      = render partial: 'layouts/presentation/features/smart_action'

      = render partial: 'layouts/presentation/features/notifications'

      = render partial: 'layouts/presentation/social'

      = render partial: 'layouts/presentation/faq'

      %article#partners.section.partners.section--center.section--center-content.js-nav-hash
        .section__container
          .container
            .row
              .section__header.col-xs-12
                %p #{t('layout.partners.title')}
            .row
              .partners__logos.col-xs-12
                = link_to 'http://www.softlayer.com/catalyst', rel: 'external', title: 'Softlayer' do
                  %img.partners__softlayer{:alt => 'Softlayer Logo', :src => image_path('logos/logo-softlayer.png'), :srcset => "#{image_path('logos/logo-softlayer@2x.png')} 2x", :width => '164', :height => '27' }
                = link_to 'http://www.lisbon-challenge.com/', rel: 'external', title: 'Lisbon Challenge' do
                  %img.partners__lisbon-challenge{:alt => 'Lisbon Challenge Logo', :src => image_path('logos/logo-lisbon-challenge.png'), :srcset => "#{image_path('logos/logo-lisbon-challenge@2x.png')} 2x", :width => '92', :height => '51' }
                = link_to 'http://www.agilefreaks.com/', rel: 'external', title: 'Agile Freaks' do
                  %img.partners__agile-freaks{:alt => 'Agile Freaks Logo', :src => image_path('logos/logo-agile-freaks.png'), :srcset => "#{image_path('logos/logo-agile-freaks@2x.png')} 2x", :width => '179', :height => '49' }
                = link_to 'https://www.hubraum.com/locations/krakow', rel: 'external', title: 'HubRaum' do
                  %img.partners__hub-raum{:alt => 'Hub Raum Logo', :src => image_path('logos/logo-hub-raum.png'), :srcset => "#{image_path('logos/logo-hub-raum@2x.png')} 2x", :width => '175', :height => '70' }
                %a{:href => 'http://soapconf.com/', :rel => 'external', :title => 'Soap'}
                  %img.partners__soap{:alt => 'Soap Logo', :height => '60', :src => image_path('logos/logo-soap.png'), :srcset => "#{image_path('logos/logo-soap@2x.png')} 2x", :width => '80' }

      %article#contact.section.section--center.contact.js-nav-hash
        .section__container
          .container
            .row
              .col-xs-12
                = render partial: 'contacts/create'

      = render partial: 'layouts/presentation/founders'

    %footer.footer
      .container
        %ul.footer__nav.list-to-nav.list-to-nav--horizontal
          %li.footer__nav__item
            = link_to t('layout.button.learn_more'), '#learn-more', { class: 'js-goto-section', title: "#{t('layout.button.learn_more')}", data: { id: 'feature-copy-paste' } }
          %li.footer__nav__item
            = link_to t('layout.menu.faq'), '#faq', { class: 'js-goto-section', title: "#{t('layout.menu.faq')}", data: { id: 'faq' } }
          %li.footer__nav__item
            = link_to "#{t('layout.footer.tos')}", tos_path, title: "#{t('layout.footer.tos')}"
        %p.footer__copyright
          \© 2014 Omnipaste.
          %br/
          #{t('layout.footer.android_tm')}
          %br/
          #{t('layout.footer.windows_tm')}

  = javascript_include_tag 'presentation'

  = humane_flash_messages.html_safe

  = render partial: 'layouts/user_voice'

  :javascript
    var $buoop = {};
    $buoop.ol = window.onload;
    window.onload=function () {
      try {if ($buoop.ol) $buoop.ol();}catch (e) {}
      var e = document.createElement("script");
      e.setAttribute("type", "text/javascript");
      e.setAttribute("src", "//browser-update.org/update.js");
      document.body.appendChild(e);
    }

  :javascript
    $(document).ready( function() {
      urlParam = function(name) {
          var results = new RegExp('[\\?&amp;]' + name + '=([^&amp;#]*)').exec(window.location.href);
          return results ? results[1] || 0 : 0;
      };

      if (urlParam('download')) {
        if (#{user_signed_in? ? 'true' : 0}) {
          var destination = "#{windows_client_downloads_path}";
          setTimeout("window.location='" + destination + "'", 3000);
        }

        var dropdownActiveClass	= 'dropdown--open';
        var dropdownBodyClass = 'dropdown--action';

        $('#sign-up').toggleClass(dropdownActiveClass);
        $('.js-body-action').toggleClass(dropdownBodyClass);

        // Scroll to top
        omnipaste.scrollToTop();
      }
    } );
